.social i {
    font-size: 1.1rem;
}
.nav-tabs {
    border-bottom: none!important;
}
.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: 2px solid #FF0000!important;
}
.nav-tabs .nav-link {
    border: none!important;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    font-size: 1rem;
    background-color: white!important;
    
}


@media screen and (max-width: 576px) {
    .profile-img {
        text-align: center;
    }
    .profile-img img {
        height: 8rem!important;
        position: relative!important;
        top: -1rem!important;
    }
    .profile-name {
        text-align: center;
    }
    .profile-buttons {
        margin-top: 1rem;
    }
    .profile-contact {
        margin-top: 3rem!important;
    }
    .profile-contact .col-sm-8 {
        margin-top: 3rem!important;
    }
    .my-books {
        margin-top: 3rem!important;
    }
    .my-books .card img {
        height: 15rem!important;
    }
}