.banner {
    background-image: url('../img/banners/in.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 700px;
    width: 100%;
}

.form-label {
    position: relative;
    top: 2rem;
    transition: all 0.5s;
}

.click-input {
    top: 0.7rem!important;
    transition: all 0.5s;
}

.form-control {
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #FF0000;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

input[type="email"]:focus {
    background-color: transparent!important;
}
input[type="password"]:focus {
    background-color: transparent!important;
}
input[type="text"]:focus {
    background-color: transparent!important;
}

.login-btn {
    background-color: #FF0000;
    color: white;
    border-radius: 20px;
}

.login-btn:hover {
    color: white!important;
    background-color: #5c0606;
}

hr {
    opacity: 1;
    border-color: #FF0000!important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    color: white!important;
}

input:-webkit-autofill
{
    -webkit-text-fill-color: white !important;
}